[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
sounddevice = "*"
matplotlib = "*"
numpy = "*"
pyaudio = {path = "./dependencies/PyAudio-0.2.11-cp310-cp310-win_amd64.whl"}
librosa = "*"
ffmpeg = "*"
mutagen = "*"
sqlalchemy = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.10"
